<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="UTF-8">

    <title>Próximamente</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/sigb.css') }}">

</head>

<body>

    {% include 'components/top_navigation.html' %}

    <section class="libraries-hero">

        <div class="section-header">

            <span>Red de Bibliotecas Públicas de Cali</span>

            <h1>
                Página en construcción
            </h1>

            <p>
                Esta sección estará disponible próximamente.
            </p>

        </div>

    </section>

    {% include 'components/footer.html' %}

</body>

</html>