<!-- NOVEDADES / MÁS CONSULTADOS -->
<section class="featured-section">

    <div class="section-header">
        <span>Lo nuevo</span>
        <h2>Los más consultados</h2>
        <p>
            Explora libros, cómics, audiolibros y contenidos destacados
            por la comunidad lectora de la Red de Bibliotecas Públicas.
        </p>
    </div>

    <div class="book-grid book-grid-covers">

        <article class="book-card book-cover-card">
            <img class="real-book-cover"
                 src="https://covers.openlibrary.org/b/isbn/9789588886190-L.jpg"
                 alt="La bufanda de Isadora">

            <div class="book-info">
                <span class="book-format">Libro físico</span>
                <h3>El general en su laberinto</h3>
                <p>Autor: Gabriel Garcia Márquez</p>
                <small>⭐ 4.8 · Vistas: 5.589</small>
                <span class="book-status available">Disponible</span>
            </div>
        </article>

        <article class="book-card book-cover-card">
            <img class="real-book-cover"
                 src="https://covers.openlibrary.org/b/isbn/9788417860790-L.jpg"
                 alt="El infinito en un junco">

            <div class="book-info">
                <span class="book-format">Libro digital</span>
                <h3>El infinito en un junco</h3>
                <p>Autor: Irene Vallejo</p>
                <small>⭐ 4.0 · Vistas: 4.189</small>
                <span class="book-status digital">Digital</span>
            </div>
        </article>

        <article class="book-card book-cover-card">
            <img class="real-book-cover"
                 src="https://images.unsplash.com/photo-1519682337058-a94d519337bc?w=900"
                 alt="Historias para imaginar">

            <div class="book-info">
                <span class="book-format">Audiolibro</span>
                <h3>Historias para imaginar</h3>
                <p>Red de Bibliotecas</p>
                <small>⭐ 4.5 · Vistas: 3.120</small>
                <span class="book-status audio">Audio</span>
            </div>
        </article>

        <article class="book-card book-cover-card">
            <img class="real-book-cover"
                src="https://images.unsplash.com/photo-1612036782180-6f0b6cd846fe?w=900"
                alt="Batman Silencio">

            <div class="book-info">
                <span class="book-format">Cómic</span>
                <h3>Spiderman</h3>
                <p>Novela gráfica</p>
                <small>⭐ 4.1 · Vistas: 4.189</small>
                <span class="book-status available">Disponible</span>
            </div>
        </article>

    </div>

</section>