<!-- NOTICIAS DESTACADAS -->
<section class="noticias-destacadas">

    <div class="section-header">
        <span>Actualidad</span>
        <h2>Noticias destacadas</h2>
        <p>
            Conoce las novedades, convocatorias, reconocimientos y noticias más importantes
            de la Red de Bibliotecas Públicas de Santiago de Cali.
        </p>
    </div>

    <div class="noticias-grid">

       <article class="noticia-card">

    <img src="https://images.unsplash.com/photo-1526243741027-444d633d7365?w=1200"
         alt="Clubes de lectura">

    <div class="noticia-content">

        <span class="noticia-tag">
            📢 Convocatoria
        </span>

        <h3>
            Inscripciones abiertas para clubes de lectura y escritura
        </h3>

        <p>
            La Red de Bibliotecas Públicas de Cali invita a niños, jóvenes y adultos
            a participar en espacios gratuitos de lectura, escritura creativa y
            formación cultural disponibles en diferentes bibliotecas de la ciudad.
        </p>

    </div>

</article>

<article class="noticia-card">

    <img src="https://images.unsplash.com/photo-1516321318423-f06f85e504b3?w=1200"
     alt="Innovación digital">

    <div class="noticia-content">

        <span class="noticia-tag">
            🏆 Innovación
        </span>

        <h3>
            Nuevos recursos digitales fortalecen el acceso al conocimiento
        </h3>

        <p>
            La plataforma incorpora contenidos digitales, audiolibros, exposiciones
            virtuales y recursos educativos que amplían las oportunidades de aprendizaje
            para toda la ciudadanía.
        </p>

    </div>

</article>

<article class="noticia-card">

    <img src="https://images.unsplash.com/photo-1512820790803-83ca734da794?w=1200"
         alt="Eventos culturales">

    <div class="noticia-content">

        <span class="noticia-tag">
            🎭 Cultura
        </span>

        <h3>
            Agenda cultural disponible para toda la comunidad
        </h3>

        <p>
            Consulta talleres, exposiciones, encuentros literarios, actividades
            infantiles y eventos culturales programados en las bibliotecas públicas
            de Santiago de Cali.
        </p>

    </div>

</article>
    </div>

</section>