<div class="quick-access">

    <a href="/bibliotecas" class="quick-item bibliotecas">
        <i class="fa-solid fa-building-columns"></i>
        <span>Red de Bibliotecas</span>
    </a>

    <a href="/colecciones" class="quick-item colecciones">
        <i class="fa-solid fa-book-open"></i>
        <span>Colecciones</span>
    </a>

    <a href="/comunidad" class="quick-item comunidad">
        <i class="fa-solid fa-users"></i>
        <span>Comunidad</span>
    </a>

    <a href="/agenda" class="quick-item agenda">
        <i class="fa-solid fa-calendar-days"></i>
        <span>Programación</span>
    </a>

    <a href="https://www.culturaenlineacali.com/convocatorias-disponibles"
       target="_blank"
       class="quick-item convocatorias">

        <i class="fa-solid fa-bullhorn"></i>
        <span>Convocatorias</span>

    </a>

</div>