<div class="top-navigation">

    <div class="top-brand">

        <a href="/"
           title="Ir al inicio"
           class="top-logo-link">

            <img src="{{ url_for('static', filename='img/logo_rbpc.png') }}"
                 alt="Red de Bibliotecas Públicas de Cali"
                 class="rbpc-logo">

        </a>

        <div class="top-cultura-link">

            <img src="{{ url_for('static', filename='img/cultura.png') }}"
                 alt="Secretaría de Cultura"
                 class="cultura-logo">

        </div>

    </div>

    <div class="top-menu">

        <div class="menu-item bibliotecas">

            <button type="button">
                <i class="fa-solid fa-building-columns"></i>
                <span class="menu-label">Red de Bibliotecas</span>
            </button>

            <div class="dropdown-menu">
                <a href="/la-red">Nosotros</a>
                <a href="/directorio">Directorio</a>
                <a href="/bibliotecas">Las Bibliotecas</a>
                <a href="/servicios">Servicios</a>
                <a href="/estrategias">Estrategias y Proyectos</a>
                <a href="/equipo-directorio">Equipo, Espacios y Bibliotecarios</a>
            </div>

        </div>

        <div class="menu-item colecciones">

            <button type="button">
                <i class="fa-solid fa-book-open"></i>
                <span class="menu-label">Colecciones</span>
            </button>

            <div class="dropdown-menu">
                <a href="/opac">Catálogo OPAC</a>
                <a href="/biblioteca-digital">Biblioteca Digital</a>
                <a href="/lecturas">
                <i class="fa-solid fa-ranking-star"></i>Explorar Lecturas</a>
                <a href="/fondo-editorial">Fondo Editorial</a>
                <a href="/exposiciones">Exposiciones Digitales</a>
                <a href="/archivo-fotografico">Archivo Fotográfico</a>
                <a href="/podcast">Podcast</a>
            </div>

        </div>

        <div class="menu-item comunidad">

            <button type="button">
                <i class="fa-solid fa-users"></i>
                <span class="menu-label">Comunidad</span>
            </button>

            <div class="dropdown-menu">
                <a href="/novedades">Novedades</a>
                <a href="/red-social">Red Social</a>
                <a href="/observatorio"><i class="fa-solid fa-chart-line"></i>Observatorio Cultural</a>
            </div>

        </div>

        <div class="menu-item programacion">

            <button type="button">
                <i class="fa-solid fa-calendar-days"></i>
                <span class="menu-label">Programación Cultural</span>
            </button>

            <div class="dropdown-menu">

                <a href="/programacion-cultural">
                    <i class="fa-regular fa-star"></i>
                    Programación Destacada
                </a>

                <a href="/programacion-permanente">
                    <i class="fa-regular fa-clock"></i>
                    Programación Permanente
                </a>

            </div>

        </div>

        <div class="menu-item convocatorias">

            <a href="https://www.culturaenlineacali.com/convocatorias-disponibles"
               target="_blank">

                <i class="fa-solid fa-bullhorn"></i>
                <span class="menu-label">Convocatorias</span>

            </a>

        </div>

    </div>

    <div class="top-actions">

        <a href="/pqrsd">PQRSD</a>

        <a href="#">ES</a>

        <a href="/login"
           class="user-icon">

            <i class="fa-regular fa-user"></i>

        </a>

    </div>

</div>